# Project docs
GUIDE

# Backend
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
*.db
uploads/
.pytest_cache/
.coverage
htmlcov/
*.log

# Frontend
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
